pandas==0.24.2
numpy==1.16.4
scikit-learn==0.19.1
nltk==3.3
gensim==3.6.0
schedule==0.6.0
sqlalchemy==1.2.7
networkx==2.2
pyquery==1.4.0
python-twitter==3.4.2
tweepy==3.6.0
selenium==3.14.1
pywin32==223
clarifai==2.4.0
Pillow==9.0.1
pytesseract==0.2.5
smart_open==1.7.1
matplotlib==1.5.1
sympy==1.1.1
xgboost==0.80
beautifulsoup4==4.6.0
langdetect==1.0.7